<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="referrer" content="strict-origin-when-cross-origin">
<meta name="color-scheme" content="light dark">
<meta name="theme-color" content="#000000">
<meta name="author" content="{{ site.name }}">
<meta name="robots" content="index,follow">

{% if page.excerpt %}
<meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines }}">
{% elsif page.description %}
<meta property="og:description" content="{{ page.description | strip_html | strip_newlines }}">
{% else %}
<meta property="og:description" content="{{ site.description }}">
{% endif %}

{% if page.title %}
<meta property="og:title" content="{{ page.title }}">
<meta name="twitter:title" content="{{ page.title }}">
{% endif %}

{% if page.image %}
<meta property="og:image" content="{{ site.url }}{{ page.image }}">
<meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
{% else %}
<meta property="og:image" content="{{ site.url }}{{ site.avatar }}">
<meta name="twitter:image" content="{{ site.url }}{{ site.avatar }}">
{% endif %}
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
